<div class="demo-container">
  <dx-tile-view
    [dataSource]="tiles"
    [itemMargin]="16"
    [baseItemWidth]="280"
    [baseItemHeight]="160"
    [height]="368"
    [activeStateEnabled]="false"
    itemTemplate="tileTemplate"
  >
    <div *dxTemplate="let data of 'tileTemplate'">
      <div class="icon-box">
        <i class="dx-icon-{{data.icon}}"></i>
      </div>
      <div class="text-box">
        <h3 class="tile-title">{{data.title}}</h3>
        <p class="tile-text">{{data.text}}</p>
      </div>
    </div>
  </dx-tile-view>
</div>
